/* Default HTML - default styles for base elements
------------------------------------------------- */

/* Based upon HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Note: Most of these have been adapted slightly for the NERRA website.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


// content-box | padding-box | border-box
* { @include box-sizing(border-box); }

// Prevent horizontal scrolling
html, body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

html {
	font-size: 62.5%; 
  min-width: $site_width;
}

body {
  @include rem(font-size, 16px);
  line-height: 1.3;
  font-family: $font_family;
  
  // For smoother fonts
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
  color: $color_text;
  background-color: $bgcolor_default;
}

@-moz-document url-prefix() {
	// FF fix
	body {
		line-height: 1.2;
	}
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background-color: $bgcolor_default;
  color: $green2;
  text-shadow: none;
}
::selection {
  background-color: $bgcolor_default;
  color: $green2;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0; 
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a, a:visited {
	text-decoration:none;
	color: $color_internal_link;
	&:hover {
		color: $color_internal_link_hover;
	}	
	img {
		border: none;
	}
}

h1,
h2,
h3,
h4 {
	border: 0;
	margin: 2em 0 1em 0;
	padding: 0;
	line-height: 1;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: bold;
}
	
h1 { @include rem(font-size, 35px); }
h2 { @include rem(font-size, 18px); }
h3 { @include rem(font-size, 16px); }
h4 { @include rem(font-size, 16px); }

p, ul, ol {
	border: 0;
	margin: 0 0 1em 0;
	padding: 0;
}
ul, ol {
	//margin-top: 1em;
}	
p:last-of-type {
	margin-bottom: 0;
}

q { 
	@include rem(font-size, 14px);
	&:before, &:after {
		 content: '"'; 
	}
}

