a.link-indicator, a:visited.link-indicator {
	text-transform: uppercase;
	font-weight: bold;
	@include rem(font-size, 12px);
}

a.link-indicator-after, a:visited.link-indicator-after {
	@extend a.link-indicator;
}

.newline {
	display: block;
	margin-top: 1em;
}

.link-divider {
	font-weight: bold;
	@include rem(font-size, 12px);
	color: $orange;	
	&:before {
		content: " \00a0 \00a0 | \00a0 \00a0 ";
	}
}

a[href $='.pdf'], a[href $='.pdf']:visited, 
a[href $='.doc'], a[href $='.doc']:visited, 
a[href $='.docx'], a[href $='.docx']:visited, 
a[href $='.xls'], a[href $='.xls']:visited,
a[href $='.xlsx'],a[href $='.xlsx']:visited,
a[href $='.xlsm'], a[href $='.xlsm']:visited,
a[href $='.zip'],a[href $='.zip']:visited { 
	font-weight: bold;
	text-transform: uppercase;
	@include rem(font-size, 12px);
	color: $color_internal_link;
}

a:hover[href $='.pdf'], 
a:hover[href $='.doc'], 
a:hover[href $='.docx'], 
a:hover[href $='.xls'], 
a:hover[href $='.xlsx'], 
a:hover[href $='.xlsm'], 
a:hover[href $='.zip'] { 
	color: $gray3 !important;
	& + img {
		opacity: .6;
	}
}

a[href $='.pdf']:after { content: ' [pdf]';}	
a[href $='.xls']:after { content: ' [xls]';}	
a[href $='.xlsx']:after { content: ' [xlsx]';}	
a[href $='.xlsm']:after { content: ' [xlsm]';}	
a[href $='.doc']:after { content: ' [doc]';}	
a[href $='.docx']:after { content: ' [docx]';}	
a[href $='.zip']:after { content: ' [zip]';}	

// MORE | VIEW PDF - override the brackets [pdf] to PDF
a[href $='.pdf'].link-indicator:after { content: ' PDF'}

.paragraph { // Hack! Because ACFs is stripping out p tags from page-associated text fields, for some unknown reason
	margin: 0;
	padding: 0;
	margin-top: 1em;
}

.hr {
	clear: both;
	@include divline($gray3);
	margin-left: -100px; // pulls it to site's left margin
}

.hr-half {
	clear: both;
	@include divline($gray3);
	height: 1px;
	margin-left: 0px;
	margin-right: 0px;
	
}

ul.bullet-list {
	margin-top: 1em;
	padding-left: 1em;
	p {
		display: inline;
	}
	h3 {
		display: inline;
		text-transform: none;
		color: $color_text;	
	}
	li {
		line-height: 1.3;
		display: list-item;
		list-style-type: disc;
		margin-bottom: .5em;
		.bullet-list li {
		list-style-type: circle;			
		}	
	}
	a.link-indicator {
		display: block;
		&:before {
			content: "";
		}
	}
}

.arrow-bullet {
	display: inline-block;
	padding-top: .2em;
	width: 16px; 
	height: 16px;
	background-image: url('images/site/CircleArrow.png');
	line-height: 1;
	
}
.arrow-bullet-alt {
	display: inline-block;
	padding-top: .2em;
	width: 16px; 
	height: 16px;
	background-image: url('images/site/CircleArrow_ForPDFs.png');
	line-height: 1;
	
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hide {
  display: none !important;
}
.hidden {
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*.outline { // used primarily for social icons on home
	padding: .3em !important;
	border-radius: 5px !important;
	border: 1px solid #ccc !important;
	color: $orange !important;
}
*/

/* Grid Units */
.fifth { width: 20%; }
.forth { width: 25%; }
.third { width: 33.333%; }
.half { width: 50%; }


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

// Clearfix from Sandbox
.site-inner:after,
.home-middle:after,
.site-header:after,
.nav-primary:after,
.nav-secondary:after,
.wrap:after,
.footer-widgets:after,
{
  content: " ";
  display: table;
  clear:both;
}






/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
