/* Home Module
--------------------------------------------- */
.home {
		background-color: $gray6;

	.site-container .site-header {
		margin-bottom: 0px;
	}
 .site-inner { // page margins
		margin-left: 0px;
	}
	.site-header {
		@include bleeding-margin($white);	
		padding-top: 2em;
	}
}

@import "home/featured-area";
@import "home/giving-area";
@import "home/media-area";

