
// Firefox
@-moz-document url-prefix() {
	.page-template-page_news {
			.overview {
				position: relative;
				top: 0;
				margin: 0 0px;
				padding: 0 0px;
				background-color: #fff;		
			}
		}
		.news-content {
			position: relative;
			top: -5em;
		}	

}
	
