/* NERRA Search
	------------------------------ */

.page-template-searchpage, .search-results {

	#searchform {
		margin-top: 2em;
	}
	.overview {
		position: relative;
		overflow: auto;
		// Set this for Chrome and FF
		//top: -62px; // to make up for the secondary nav that's not displayed
		@include bleeding-margin($blue2);
		height: 148px;
		.group {
			float: left;
			width: 600px;
			h1 {
				margin-top: 0px;
				padding-top: 58px;
				line-height: 1.1;
				width: 400px;
				color: $gold1;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.image {
			margin-top: -131px;
			float: right;
			margin-left: 650px;
		}
	}	//.overview

	#searchbox { // search field width
		width: 45%;
		border: 3 solid #blue2;
	}

	.sterm {
		color: $orange;
		text-transform: lowercase;
		font-style: italic;
	}

	h1.entry-title {
		margin: .5em 0 .1em 0;
		text-transform: none;
		a {
			@include rem(font-size, 20px);
			color: $orange;
			&:hover {
				color: $gray3;
			}
		}
	}

	.entry-meta {display:none;} // supress author, date, and category

	.pagination ul {
		margin-top: 2em;
		li {
			display: inline-block;
			margin-right: .3em;
			@include rem(font-size, 14px);
		}
		li.active a {
			color: $green2;
			@include rem(font-size, 20px);
			font-weight: bold;
		}
	}
}


// overwrite from above
.search-results {
	main article:first-of-type {
		// Set this for Chrome and FF
		// margin-top: -40px;
	}
	.overview {
		.group {
			width: 100%;
			header h1 {
				width: 100%;
			}
		}
	}
}



