/* CSS Variables
--------------------------------------------- */

/* Abbreviations in variable names
----------------------------------

_hr: 	horizontal rule (line)
_tx: 	text
_a: 	anchor
_hv: 	hover
_at: 	active (mouse down on link)
_v: 	visited
lt: 	light
md: 	medium
dk: 	dark

--------------------------------- */


//Set site widths
$site_width: 1200px; //this is a fixed width site
$page_width: 1035px;
$footer_width: 1125px;
$site_margin: 35px;
$site_inner_margin_left: 100px;

$text_width_short: 865px;
$text_width_shorter: 800px;
$text_width_shortest: 650px;
$text_width_half: 575px;

//Set site colors
$orange: #c35329; //text on and bg on navs

$gray1:	#443d43; // Gray band across home
$gray2:	#575156; // Gray used in feature boxes, slightly lighter than graydk
$gray3:	#a1a3a0; // Footer text, dotted divider lines
$gray4:	#d9dad9; // Give on home, background (old gray was #d9dad9)
$gray5:	#e2e3e2; // Footer area, behind Social boxes, light background
$gray6:	#ececec; // Almost white, social and News boxes, drop down menu backgrounds
$gray7: #ECECEC; // Gray used for reserve map background and MAP tab

$blue1:	#1443a0;
$blue2:	#5180c1; // List of reserves on home page, NOAA text in footer
$blue3:	#8ba7d7; // State icons, Italic text when on darkest gray

$green1:	#546e34;
$green2:	#88b73b;

$gold1:	#c8ab48; //page titles
$gold2:	#e7ca69;

$white: #fff;

//Link colors
$color_link_hover: $gray3;

$color_external_link: $orange;
$color_external_link_hover: $gray3;

$color_internal_link: $orange;
$color_internal_link_hover: $gray3;

$color_resource_link: $orange;
$color_resource_link_hover: $gray3;

//Light and Dark (from sandbox)
$dark:   $gray1;
$light:  $gray5;


//Section Colors - in order of appearance
$color_text:				$gray1;
$color_bordertop: 	$blue1;

$color_utility_a: 	$gray3;
$color_utility_hv: 	$orange;

// Top nav
$color_primarynav_a: 	$orange;
$color_primarynav_hv: 	$gold2;
$color_primarynav_bg_hv: #fff;

// Top nav's dropdown menus
$color_primarysub_a: 	$gray1;
$color_primarysub_hv: $orange;
$color_primarysub_bg: $gray6;

$color_secondarynav_a: 		#fff;
$color_secondarynav_hv: 	$gray3;
$color_secondarynav_at: 	$gray5;


$color_featuredarea_map: 					$blue3;
$color_featuredarea_learnmore_a: 	$orange;
$color_featuredarea_learnmore_hv: $color_link_hover;

$color_featurestory01_tl: 	#fff;
$color_featurestory01_tl_h: $gray3;
$color_featurestory01_tx: 	#fff;
$color_featurestory01_tx_h: $gray3;
$color_featurestory01_bg: 	$gold2;
$color_featurestory01_bg_h: $gray1;

$color_featurestory02_tl: 	$green2;
$color_featurestory02_tl_h: $gray3;
$color_featurestory02_tx: 	#000;
$color_featurestory02_tx_h: $gray3;
$color_featurestory02_bg: 	#fff;
$color_featurestory02_bg_h: $gray1;

$color_featurestory03_tl: 	#fff;
$color_featurestory03_tl_h: $gray3;
$color_featurestory03_tx: 	#fff;
$color_featurestory03_tx_h: $gray3;
$color_featurestory03_bg: 	$blue2;
$color_featurestory03_bg_h: $gray1;

$color_featurestory04_tl: 	$green2;
$color_featurestory04_tl_h: $gray3;
$color_featurestory04_tx: 	#000;
$color_featurestory04_tx_h: $gray3;
$color_featurestory04_bg: 	#fff;
$color_featurestory04_bg_h: $gray1;

$color_socialbox_tl: 	$gray3;
$color_socialbox_tx: 	$gray1;
$color_socialbox_a: 	$gray3;
$color_socialbox_hv: 	$gray2;
$color_socialbox_hr: 	$gray4;

$color_reservelist_a:  $blue2;
$color_reservelist_hv:  $gray1;
$color_reservelist_tl: $gray3;

$color_footer_a: $gray3;
$color_footer_hv: $orange;
$color_footer_tx: $gray3;
$color_footer_hr: $gray3;
$color_footer_logo_tx: $blue2; //noaa text

$color_parent_page_title: $gold1;
$color_child_page_title: 	$gray2;


$color_collaborative_tl: $gray1;
$color_collaborative_tx: $gray1;

$color_project_tl: $green2;

// Background colors used for color bleeds
$bgcolor_default: 					#fff;
$bgcolor_feature: 					$gray1;
$bgcolor_givingarea: 				$gray4;
$bgcolor_socialmediaarea: 	$gray6;
$bgcolor_secondarynav: 			$orange;
$bgcolor_issue_overview: $gray5;
$bgcolor_issue_why: 			$green1;
$bgcolor_promoblock: 				$gray1;
$bgcolor_socialbox: 				#fff;//$gray6;
$bgcolor_secondarynav: 			$orange;



//Typography
//-------------------------
$font_sans:   "Arial, Helvetica Neue", Helvetica, sans-serif; //NERRA
$font_serif:  Georgia, "Times New Roman", Times, serif;
$font_family: $font_sans;
