/*!
    Theme Name: Mockingjay
    Description:  A Genesis Child Theme for NERRA
    Author: Design by Jenn Bracket & developed by Mark Salvatore
    Author URI: http://www.salvatore.us/

    Version: 0.1

    Template: genesis
    Template Version: 2.0

    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
*/

@import "variables";
@import "mixins";
@import "compass";
@import "normalize";
@import "base";
@import "helpers";
@import "search";

// Layout
@import 'layout/grid';
@import "layout/site-bordertop";
@import "layout/logo-area";
@import "layout/navigation";
@import "layout/footer";


@import "modules";
@import "home";
@import "pages";

@import "overrides";


/* # Media Queries example
-------------------------------------------
@media only screen and (max-width: 605px) {

	.site-header .widget-area {
		float: left;
	}
	.site-header .title-area {
		clear: both;
	}

}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 800px) {}
*/
