/* Footer module
--------------------------------------------- */

.site-footer {
	clear: both;
	margin-bottom: 1em;
	width: $footer_width;
	
	.hr {
		margin-left: 0;
		margin-top: 2em;
		margin-bottom: .5em;
	}		
	.group-noaa {
		float: left;
		.image {
			text-align: left;
			width: 74px;
		}
		.text { // NOAA text
			margin-top: -60px;
			@include rem(font-size, 10px);
			padding-left: 85px;
			line-height: 1.5;
			color: $color_footer_logo_tx;
			font-weight: bold;
		}
	}
	.group-grassroots {
		//border: 1px solid red;
		//padding-top: 10px;
		float: right;
		width: 500px;
		
		
		.group {
			//border: 1px dashed blue;
			margin: 1em 0 0 5em;
			float: left;
			width: 350px;
			ul {
					line-height: 1.5;
	
				li { // footer menu items
					display: inline-block;
					line-height: 1;
					margin-right: 2em;
					&:last-of-type {
						margin-right: 0;
					}
					a {
						@include rem(font-size, 11px);
						color: $color_footer_a;
						text-transform: uppercase;
						&:hover {
							color: $color_footer_hv;
						}
					}
				}
			}
			.text, .text a { // copyright 
				//border: 1px dashed red;
				@include rem(font-size, 9px);
				color: $color_footer_tx;
				text-transform: capitalize;
				line-height: 1;
			}
		}
		.image {
			//border: 1px solid yellow;
			float: right;
			width: 75px;
			margin-right: -15px;
		}
	}
}

