.site-container {
	//border: 1px dashed blue;
  margin: 0 auto;
  padding: 0 2em;
  max-width: $site_width;
  
  .site-header  {
	  // This value determines where the top of the content begins. It should always start where the bottom edge of the secondary nav. To do this we have to override the value when items in the secondary nav are on two lines, and again, for pages that use no secondary nav at all. The default value set here is for pages that use a secondary nav that have nav items on one line.
	  margin-bottom: -40px;
  }
}

.site-description {
	display: none;
}

.site-inner { // page margins, except for home
	//border: 1px dashed blue;
	margin-left: $site_inner_margin_left;
}


/* Containers and Columns */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds,
.title-area,
.archive-page,
{
	float: left;
	margin-left: percentage(50px / $site_width); /* 48px / 1152px */
}

.one-half,
.three-sixths,
.two-fourths,
 {
	width: percentage(557px / $site_width); /* 552px / 1152px */
}

.one-third,
.two-sixths,
.title-area {
	width: percentage(366px / $site_width); /* 352px / 1152px */
}

.four-sixths,
.two-thirds,
.site-header .widget-area, {
	width: percentage(783px / $site_width); /* 752px / 1152px */
}

.one-fourth {
	width: percentage(262px / $site_width); /* 252px / 1152px */
}

.three-fourths {
	width: percentage(887px / $site_width); /* 852px / 1152px */
}

.one-fifth {
	width: percentage(200px / $site_width); /* 192px / 1152px */
}

.two-fifths{
	width: percentage(450px / $site_width); /* 432px / 1152px */
}

.three-fifths {
	width: percentage(699px / $site_width); /* 672px / 1152px */
}

.four-fifths {
	width: percentage(950px / $site_width); /* 912px / 1152px */
}

.one-sixth, 
.sidebar-secondary {
	width: percentage(158px / $site_width); /* 152px / 1152px */
}

.five-sixths,
{
	width: percentage(991px / $site_width); /* 952px / 1152px */
}

.first, 
.title-area,
{
	margin-left: 0;
	clear:both;
}
