/* Logo Area Module
--------------------------------------------- */


.site-header {	
	//border: 1px solid red;
	.title-area {
		//border: 1px solid blue;
		position: relative;
		top: 0;
		left: 0;
		z-index: 20; 
		background: url('images/site/logo.png') no-repeat;			
		width: 40%;
	
		.org-byline {	
			color: $color_text;
			margin-top: 30px;
			margin-left: 150px;
			width: 300px;
			@include rem(font-size, 25px);
			line-height: 1.1;
			font-weight: bold;
		}
	}
}



