/* Utility Bar (menu-utility-bar)
--------------------------------------------- */
#menu-utility-bar {

	@include rem(font-size, 12px);
	//border: 1px solid blue;
	z-index: 10;
	float: right;
	line-height: 1;
	position: relative;
	top: -145px;
	left:  380px;//1148px;
	padding-top: 1em;
	width: 100%;
	text-align: right;
	padding-right: .5em;
	text-transform: uppercase;
	letter-spacing: -.4px;
	
	a[title='give'] {
		color: $blue1;
		//@include rem(font-size, 16px);
		//font-weight: bold;
	}
	li {
		 // spacing between icons
		display: inline-block;
		vertical-align: middle;
		margin:0; padding:0;
		margin-right: -2.5em;
		a {
			color: $color_utility_a;
			font-weight: bold;
		}
		:hover {
			color: $color_utility_hv;
		}
	}
}
.dashicons {
	color: $color_utility_a;	
}
.dashicons-search {
	@include rem(font-size, 14px);
}

.nav-primary {
	position: relative; // very important! Don't remove.
	.wrap {
		margin:0; padding:0;
		margin-right: -5px;
	}
	
}

.genesis-nav-menu {
	clear: both;
	color: $color_utility_a;
	font-family: $font_family;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	width: 100%;
		
	.menu-item {
		display: inline-block;
		text-align: left;
	}

	a {
		color: $light;
		display: block;
		@include rem(padding, 28px 24px);
		position: relative;

		&:hover {
			color: $gray4;
		}
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		//@include transition(opacity .4s ease-in-out);
		width: 200px;
		z-index: 99;

		a {
			background-color: #fff;
			border: 1px solid #eee;
			border-top: none;
			@include rem(font-size, 14px);				
			letter-spacing: 0;
			padding: 16px 20px;
			position: relative;
			width: 200px;
		}

		.sub-menu {
			margin: -54px 0 0 199px;
		}
	}

	.menu-item:hover {
		position: static;

		> .sub-menu {
			left: auto;
			opacity: 1;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		display: inline-block;
		float: right;
		list-style-type: none;
		@include rem(padding, 28px 0);
		text-transform: uppercase;

		> a {
			display: inline;
			padding: 0;
		}
	}

	> .rss > a {
		@include rem(margin-left, 48px);		
	}

	> .search {
		@include rem(padding, 14px 0 0)
	}
		
}

/* PRIMARY NAV */
#menu-main-menu { 
	position: absolute;
	top: 54px; // distance from utility nav
	right: -10px; // keeps last menu item flush to margin
	text-align: right;
	a {
		margin: 0; padding: 0;
		width: 80px; // word break for nav items
	}
}

#menu-main-menu > li.current-menu-item, 
#menu-main-menu > li.current-page-parent, 
#menu-main-menu > li.menu-item-on {
	@include primarymenuitem-on();
}

#menu-main-menu > li:last-of-type { // shorten the last menu item so ends at margin
	width: 75px;
	&:hover { 
		width: 75px;
	}
}
#menu-main-menu > li {
	//border: 1px solid green;
	color: $color_primarynav_a;
	@include rem(font-size, 12px);
	line-height: 1.2;
	margin: 0; padding: 0;
	width: 120px; // spacing between nav items
	margin-right: 25px;
	
	&:visited {
		color: $color_primarynav_a;
	}
	
	&:hover { // underline selected menu item
		border-bottom: 5px solid $gray3;
		padding-bottom: .8em;
	}

	a {
		//border: 1px solid black;
		letter-spacing: 0px;
		text-transform: uppercase;
		font-weight: bold;
		color: $color_primarynav_a;
	}
	.sub-menu {
		//border:1px solid red;
		margin: 0; padding: 0;
		margin-top: 14px; // background edge to bottom of underline
		padding: 0 1.5em 0 1em;
		background-color: $color_primarysub_bg;
		width: auto; 
		
		li {
			//border: 1px solid fuchsia;
			padding-bottom:.5em;
			display: block;
			width: auto;
		}	
					
		li:first-child {
			padding-top: 1em;
		}		
		
		li:last-child {
			padding-bottom: 1em;
		}		
		
		a::before {
			content: "• ";
		}		
		
		a {
			border: none;
			@include rem(font-size, 12px);
			text-transform: none;
			font-weight: normal;
			background-color: inherit;
			width: 100%;
			margin: 0; padding: 0em;

			&:hover {
				color: $gray1;
			}			
		}
	}
}




/* Secondary Navigation
------------------------ */
// These three classes are injected into the body tag by their related pages to determine menu item spacing
.aboutus { // About Us
	.nav-secondary li.menu-item {
	  width: ($page_width / 4) - 4; // distribute 4 items evenly
	  a {
			margin-top: -3px;  // vertical centering of menu label
	  }
	}
}
.howwework { // How We Work
	.nav-secondary {
		li.menu-item { 
		  width: ($page_width / 5) - 5; // distribute 5 items evenly
		  a {
				margin-top: -10px;  // vertical centering of menu label
		  }
		}
	}
}
.whatweworkfor { // What We Work For
	.nav-secondary li.menu-item { 
	  width: ($page_width / 4) - 4; // distribute 4 items evenly
	  a {
			margin-top: -3px;  // vertical centering of menu label
	  }
	}
}

.nav-secondary {
	//border: 1px solid black;
	@include bleeding-margin($bgcolor_secondarynav);
	position: relative;
	top: -60px;
	margin-bottom: -50px;
	padding-left: 999999px + $site_inner_margin_left;
	overflow:visible;
	display: inline-block;
  height: 62px;
  @include rem(font-size, 14px);
  font-weight: bold;

  li.menu-item { // text items
	  //border-left: 1px solid green;
		line-height: 1;
		letter-spacing: 0px;
		height: 62px;
	  text-align: center;
		&:hover, &:hover a {
			color: $color_secondarynav_hv;
		}
		a {
			color: $color_secondarynav_a;
			&:hover {
				color: $color_secondarynav_hv;
			}
			&:active {
				color: $color_secondarynav_at;
			}
		}
  }
  
  .current-menu-item, .menu-item-on { 
		@include secondarymenuitem-on;
 	}
} // secondary nav


