// site bordertop
.site-bordertop {
	@include bleeding-margin($color_bordertop);
	display: block;
	margin-bottom: 2em;
	height: 13px;
	background: $color_bordertop url('images/site/site-bordertop.png') no-repeat top;
} 
.home .site-bordertop {
	margin-bottom: 0;
}

