/* Featured Stories module 
Is currently being replaced by Featured Story (March 2017)
--------------------------------------------- */

.featured-stories { // block of 3 stories and the toolkit
	position: relative;
	float: right;
	z-index: 5;
	margin-top: -2em;
	margin-right: -40px;
	width: 350px;
	height: 810px;
	background-color: $blue1;

	section, div {
		margin: 0;
	}
	
	.featured-story-04 { // toolkit block
		padding: 1.5em 0;
		background-color: $green2;
		&:hover {
			background-color: $green1;
		}
		
	}
	aside { // each story
		padding-bottom: 1em;
			&:hover {
				opacity: .8; // image rollover affect
			}
		
		.srp-widget-title {
			margin: 0;
		}		

		.srp-thumbnail-box img {
			float: right;
			width: 175px;
			height: 175px;
		}

		.srp-post-title { 
			margin: 0; 
			padding: 1.5em 0 .3em 0;
			@include rem(font-size, 20px);
			line-height: 1.1;
			font-weight: bold;
		}
	
		.srp-content-box  {
			padding: 0 1.5em;
			width: 175px; 
			height: 175px;
			@include rem(font-size, 13px);
			line-height: 1.3;
		}
		
		/*
			.icon-toolkit { // gets injected by js
			background: url('images/site/icon-toolkit.png') no-repeat;
			width: 31px;
			height: 21px;
		} */
		
		#wdg_specialrecentpostsfree-10 { // 10 refers to category id for these stories
			background-color: $color_featurestory01_bg;
			color: $color_featurestory01_tx;
			&:hover {
				background-color: $color_featurestory01_bg_h;
				color: $color_featurestory01_tx_h;
				a {
					color: $color_featurestory01_tl_h;
				}
			}
			.srp-post-title-link {
				color: $color_featurestory01_tl;
			}
		}
		#wdg_specialrecentpostsfree-11 {
			background-color: $color_featurestory02_bg;
			color: $color_featurestory02_tx;
			&:hover {
				background-color: $color_featurestory02_bg_h;
				color: $color_featurestory02_tx_h;
				a {
					color: $color_featurestory02_tl_h;					
				}
			}
			.srp-post-title-link {
				color: $color_featurestory02_tl;
			}
		}
		#wdg_specialrecentpostsfree-12 {
			background-color: $color_featurestory03_bg;
			color: $color_featurestory03_tx;
			&:hover {
				background-color: $color_featurestory03_bg_h;
				color: $color_featurestory03_tx_h;
				a {
					color: $color_featurestory03_tl_h;					
				}
			}
			.srp-post-title-link {
				color: $color_featurestory03_tl;
			}
		}
		/*
		#wdg_specialrecentpostsfree-13 {
			background-color: $color_featurestory04_bg;
			color: $color_featurestory04_tx;
			&:hover {
				background-color: $color_featurestory04_bg_h;
				color: $color_featurestory04_tx_h;
				a {
					color: $color_featurestory04_tl_h;					
				}
			}
			.srp-post-title-link {
				color: $color_featurestory04_tl;
			}
		}*/
	}
}



