/* Featured Stories module 
Is currently being replaced by Featured Story (March 2017)
--------------------------------------------- */

.featured-story { 
	position: relative;
	float: right;
	z-index: 5;
	margin-top: -2em;
	margin-right: -40px;
	width: 350px;
	height: 803px;
	background-color: $blue1;

	.title {
		margin: 4em 0 3em 0;
		text-align: center;
	}
	.text-big {
		text-align: center;
		color: #fff;
		font-size: 1.5em;
		font-weight: bold;
	}
	.text {
		text-align: center;
		color: #fff;
		font-size: .8em;
		font-weight: bold;
		text-transform: captialize;
	}

	button {
		display: block;
		border-radius: 20px;
		width: 10em;
		color: #fff;
		font-size: .8em;
		font-weight: bold;
		text-transform: captialize;
		background-color: $orange;
		margin: 1em auto 4.3em auto;
		padding: .3em;
		outline: none;
		text-align: center;
		&:hover {
			opacity: .7;
		}
		&:active {
			opacity: .8;
		}
	}

	.image {
		margin-top: 3em;
		text-align: center;
		img {
			border: 1em solid #2f59a6;
		}
	}

}



