/* Featured Reserve module
--------------------------------------------- */

// The use of !important is required to override the plugin's css!

.reserve-slider {
	//border: 1px solid green;
	.slides {
		position: relative;
		top: -2em;
		left: 87px;
	}
	.prev, .next { // lh nav arrow on slide
		top: 300px !important;
		visibility: visible !important;
		display: inline-block;
		&:hover {
			opacity: 1;
		}
	}	
	.prev { // rh nav arrow on slide
		left: 300px !important;
	}	
	.next { // rh nav arrow on slide
		left: 350px !important;
	}	
}

.reserve-slider-image .caption { // position caption and map
	//border: 1px dashed blue;
	position: absolute !important; //must override plugin default position
	top: 2em !important; //override plugin
	left: -160px !important; //override plugin
	text-align: center;
	width: 230px !important; //override plugin
	background: rgba(0, 0, 0, 0) !important; //override plugin
	@include rem(font-size, 12px);

	/* NOTE: The small icon of the state is styled in "_reserve-state-icons.sass" */
	
	h3 { // Name of Reserve
		text-transform: uppercase;
		@include rem(font-size, 12px);
		line-height: 1.3;
		color: #fff;
		margin-bottom: 5px;
	}
	div { // Caption text
		line-height: 1.2;
		color: $color_featuredarea_map;
	}

	a, a:hover { // Learn More
		margin-top: 1em;
		display: inline-block;
		text-transform: uppercase !important;
		text-decoration: none !important;
		font-weight: bold;
		@include rem(font-size, 10px);
		color: $color_featuredarea_learnmore_a !important;
			&:hover {
				color: $color_featuredarea_learnmore_hv !important;
			}
		}
}
