/* About Estuaries
--------------------------------------------- */
.page-template-page_aboutestuaries {
	
	.overview p {
		margin-bottom: 1em;
	}
	.overview {
		margin: 0; padding: 0;
	}
	.story {
		//border: 1px solid orange;
		clear: both;
		margin-top: 2em;
		padding-bottom: 2em;

		.text {
			//border: 1px solid red;
			float: left;
			width: 520px;
		}
		.image {
			float: right;
			width: 354px;
		}	
	}
	.graph {
		clear: both;
		@include bleeding-margin($gray1);
		padding-top: 2em;
		padding-bottom: 2em;
	}
}	


