/* About Us - Friends & Partners
--------------------------------------------- */

.page-template-page_aboutfriends {
		
	// QUOTES
	.quotes {
		clear: both;
		margin-top: 2em;
		overflow: auto;
		
		.image {
			float: left;
			width: 269px;
		}

		.text {
			float: left;
			padding-left: 1em;
			width: 225px;
			@include rem(font-size, 14px);
			line-height: 1.4;
			color: $gray2;
			.author {
				margin-top: 1em;
				font-weight: bold;
				.place {
					font-weight: normal;
				}
			}
		}

	}
			
} //.page-template-page_aboutfriends

