/* About NERRA
--------------------------------------------- */

.page-template-page_aboutnerra {
	
	.overview {

	ul {
		margin-top: 2.5em;
	}		
		.group {
			margin-left: 125px;			
		}
		.text {
			width: $text_width_short;
		}
	} 	
		
	.tabs {
		@include rem(font-size, 14px);
		display: inline-block;	
		padding-top: .8em;
		@include border-top-left-radius(1.5em);
		@include border-top-right-radius(1.5em);
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		width: 200px;
		height: 40px;
		
		&.staff-tab, &.executive-tab, &.governing-tab {
			margin-left: .2em;
			background-color: $orange;
			color: #fff;
			&:hover {
				background-color: $gray4;
				color: $gray1;
			}
		}
		&.current-tab {
			background-color: $gray1;
			color: #fff;
			&:hover {
				background-color: $gray1;
				color: #fff;
			}			
		}
	}
	
	// LEADERSHIP
	.leadership {
		//border: 1px solid blue;
		overflow: visible;
				
		.text {
			margin-bottom: 2em; // space between text and tabs
		}

		.leadership-area {
			//border: 1px solid blue;
			overflow: auto;
			@include bleeding-margin($gray1);
			padding-top: 3em;
			padding-bottom: 2em;
			
			.staff, .executive {
				margin-left: -100px;
			}
			
			// CARDS
			.staff .card, .staff .current-card, 
			.executive .card, .executive .current-card {
				overflow: visible;
				float: left;
				
				background-color: $gray2;
				width: 358px;
				height: 180px;
				margin-right: 1em;
				margin-bottom: 1.3em;
				padding: 1em;
				padding-right: 3em;
				.photo {
					float: left;
					width: 152px;
				}
				.group {
					margin-top: 1em;
					margin-left: 167px;
					.name {
						@include rem(font-size, 20px);
						line-height: 1.1;
						color: $blue3;
						font-weight: bold;	
						margin-bottom: .5em;
					}
					.title {
						@include rem(font-size, 12px);
						color: #fff;
						line-height: 1.1;
						font-weight: bold;
					}
				}
			} //.staff .card, .executive .card


			.staff .card, .executive .card {

				&:hover {
					opacity: .7;
					background-color: $blue3;
				}								
				&:hover > .group > .name {
					opacity: .7;
					color: $blue1;
				}
				&:hover > .group .title {
					opacity: .7;
					color: $blue1;
				}
			}

			// Current Card
			.staff .current-card, .executive .current-card {
				background-color: $blue3;
				.group {
					.name {
						color: $blue1;
					}
					.title {
						color: $blue1;
					}
				}
			}

			// Biographies
			.staff .biographies, .executive .biographies {
				//border: 1px solid yellow;
				clear: both;
				padding: 0 2em 0 1em;
				
				//@include rem(font-size, 12px);
				line-height: 1.5;
				color: #fff;
				.name {					
					@include rem(font-size, 22px);
					font-weight: bold;
					line-height: 1.3;
					color: $blue3;
					margin-bottom: .1em; // space between text and tabs						
				}
				
				.title {
					@include rem(font-size, 16px);
					line-height: 1.3;
					color: $blue3;
					margin-bottom: .1em; // space between text and tabs
				}
				
				a.link-indicator {
					@include rem(font-size, 12px);
					display: block;
					margin-top: 1em;
					margin-bottom: 0;
		
				}
				a.link-indicator:before, a:visited.link-indicator:before {
					content: '';
				}
				
				.text p {
					@include rem(font-size, 16px);
					margin-top: 1em;
					line-height: 1.3;
					color: #fff;
				}
			}
			
		} //.leadership-area
	} //.leadership
	
	

	/* FUNDING */
	.funding {
		overflow: auto;
		width: $text_width_half;
		padding-bottom: 1.5em;
		
		h3 {
			text-transform: none;
		}
	
		li {
			margin-bottom: .8em;
		}
		
		a[href $='.pdf']:after { 
			content: ' PDF';
		}	


	} //.funding


	// ESTUARIES DAY		
	.estuariesday { 		
		
		.group {
			//border: 1px solid gray;
			overflow: auto;

			.text {
				width: $text_width_half;
				float: left;
			}
			.image {
				float: right;
				width: 353px;
			}
		}
	}
		
	// Governing Committee
	.governing {
		
		.entry {
			
			font-weight: bold;
			margin-bottom: 1em;
		
			.name {
				color: $blue3;
			}
			.reserve, .title {
				color: $gray4;
				font-weight: normal;
				@include rem(font-size, 16px);
			}
			.title {
				font-style: italic;
			}
			a.link-indicator, a:visited.link-indicator {
				margin-top: .3em;
				display: block;
				&:hover {
					color: $color_link_hover;
				}
				&:before {
					content: "";		
				}
			}
		}
	}

} //.page-template-page_aboutnerra

