/* About Us
--------------------------------------------- */

.page-template-page_aboutus {
	
	
	.overview {
		height: 442px;
		padding-bottom: 1em;
	}
	
	.story { // gray area
		
		@include bleeding-margin($gray4);
		margin-top: -33px;
		overflow: auto;

		.text {
			padding: 2em 5.5em 2em 360px;
		}
	}

	.story-group {
		margin-top: -417px;
		@-moz-document url-prefix() {	
			margin-top: -396px;
		}
		float: left;
		width: 328px;
		@include rem(font-size, 12px);
		text-align: center;
		color: $blue3;
		//font-weight: bold;
		
		.quote {
			width: 328px;
			background-color: $gray1;
			padding: 1.5em 2em;
		}
		.author, .place {
			display: inline-block;
			font-style: normal;
			color: #fff;		
		}
		.author {
			margin-top: 1em;
			margin-bottom: 0;
			text-transform: uppercase;
			font-weight: bold;
		}
		.place {
			font-weight: normal;
		}
	}
	a[href $='.pdf']:after { 
		content: ' PDF';
	}	

	// QUOTES
	.quotes {
		clear: both;
		overflow: auto;
		padding-top: 2em;;
		
		.image {
			width: 169px;
			float: left;
		}
		.text {
			float: left;
			width: 250px;
			padding: 0em 1em 0em 1.5em;
			@include rem(font-size, 12px);
			color: $gray2;
			.author {
				margin-top: 1em;
				font-weight: bold;
				.place {
					font-weight: normal;
				}
			}
		}
	}
	
} //.page-template-page_aboutus

