/* CPToolkit Archive
	------------------------------ */
.page-template-page_toolkitarchive_bestpractices, .page-template-page_toolkitarchive_casestudies  {

	.site-header {
		margin-bottom: -62px; // to make up for the secondary nav that's not displayed
	}	

	.archive {
		
		ul {
			margin: 0;
			padding-left:1.5em;
			list-style-image: url('images/site/CircleArrow_ForPDFs.png');
			li {
				a {
					color: $gray2;
				}
			}
		}

		.overview {
			display: table;
			@include bleeding-margin($gray1);
			
			h1 {
				padding: 2em 0;
				display: table-cell;
				line-height: 1;
				color: $gold2;
				text-transform: uppercase;
				font-weight: bold;		
			}
		}	//.overview
	
		h1 {
			margin-top: 1em;
			margin-bottom: 0;
			
		}
		h2 {
			margin-top: .5em;
			text-transform: none;
			color: $gray3;
		}
		h3 {
			color: $green2;
			@include rem(font-size, 24px);
			font-weight: bold;
			margin-bottom: .3em;
		}
		a.link-indicator {
			@include rem(font-size, 18px);
			color: $gray2;
			text-transform: none;
			&:after {
				content: '';
			}
		}
		span {
			display: block;
			margin-top: 1em;
		}
	}

} 


