/* Find Your Reserve
--------------------------------------------- */

.page-template-page_findyourreserve {
	
	#map {
		width: $site_width;
		margin-top: .5em;
		height: 500px;
	}

	.list-content .coltwo {
		margin-left: -85px;
	}
	.page-tabs {
		display: inline-block;
		padding-top: .5em;
		padding-bottom: .5em;
		@include border-top-left-radius(1.5em);
		@include border-top-right-radius(1.5em);
		@include rem(font-size, 18px);
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		width: 220px;

		&.map-tab {
			margin-left: .2em;
			background-color: $orange;
			color: #fff;
			&:hover {
				background-color: $gray4;
				color: $gray1;
			}
		}
		&.list-tab {
			margin-left: .2em;
			background-color: $orange;
			color: #fff;
			&:hover {
				background-color: $gray3;
				color: $gray1;
			}
		}
		&.map-tab.current-tab {
			background-color: $gray6;
			color: $gray1;
			&:hover {
				background-color: $gray6;
				color: $gray1;
			}			
		}
		&.list-tab.current-tab {
			background-color: $gray4;
			color: $gray1;
			&:hover {
				background-color: $gray4;
				color: $gray1;
			}			
		}
		&.list-tab.current-tab ~ .margin-stretch .tabbed-area {
			background-color: $gray4;
		}
	}
	
	.map-label {
		display: inline-block;
		margin-right: 1em;
		@include rem(font-size, 12px);
		font-weight: bold;
		text-transform: uppercase;
		color: $blue1;
		line-height: 1.2;
	}
	
	.margin-stretch { // pulls content one stop, to left of inner page margin (100px)
		margin-left: -$site_inner_margin_left;
	}

	.tabbed-area {
		overflow: hidden;
		
		.map-content {
			float: left;
			height: 500px;
		}
		.list-content {
			float: left;
			margin-top: 1em;
			padding-top: 0em;
			padding-bottom: 2em;
				
			.list-content-link {
				 	a, a:visited {
					color: $gray1;
					&:hover {
						color: $orange;
					}
				}
			}
			.list-content-description {
				@include rem(font-size, 14px);
				font-style: italic;
				margin-left: 1.5em;
				margin-bottom: .5em;
			}
		}
	}	
	
}



// Find Your Reserve only
.page-template-page_findyourreserve {

	.site-header  {
		margin-bottom: -62px;	
	}	
	.overview {
		margin-bottom: 2em;
		h1 {
			margin-top: 0;
		}
	}		
	.tabbed-area, .page-tabs, .map-label {
		position: relative;
		top: -60px;
		margin-bottom: -60px; // controls space before the footer
	}
	.list-content {
		width: $page_width;
		padding-left: 100px;
		h2 {
			color: $green2;
		}
	}
		
} //.findyourreserve only
