/* Tips on Speaking Up for the Reserves
--------------------------------------------- */
.page-template-page_givetoday {

	.menu-primary #menu-item-630 { // How you can help
		@include primarymenuitem-on();
	}

	.site-header {
		margin-bottom: -62px;
	}	

	@-moz-document url-prefix() {
		// FF fix
		main.content {
			position: relative;
			top: -62px;
		}
	}

	.overview {
		clear: both;
		overflow: auto;
		@include bleeding-margin($blue1);
		//padding-bottom: 2em;
		
		h1 {
			@include rem(font-size, 35px);
			color: #fff;
			text-transform: uppercase;
			margin-bottom: .5em;
		}
		h2 {
			@include rem(font-size, 35px);
			line-height: 1.2;
			text-transform: none;
			color: $blue3;
			margin: 0;
			margin-bottom: .5em;
		}
		.group {
			width: 650px;
			float: left;

			.text {
				line-height: 1.4;
				font-weight: bold;
				color: #fff;
				width: 625px;
			}
		} //.group
		
		.image img {
			float: right;
			width: 334px;
		}

	}
	
	.paypal {
		clear: both;
		display: block;
		margin-top: 1em;
		margin-left: -10px;
		&:hover {
			opacity: .8;
		}
	}



} //.page-template-page_givetoday
