/* How We Work
--------------------------------------------- */
.page-template-page_howwework {

  .site-header {
	  // Overrides grid rule to absorb space used by secondary nav items hogging two lines pushing the top margin down
	  margin-bottom: -47px;
  }
	.promo-block-area {
		@include bleeding-margin($bgcolor_promoblock);
		overflow: auto;
		padding-top: 2em;
		//padding-bottom: 2em;
		height: 590px;
		
		// Grasses
		background: $bgcolor_feature url('images/site/grasses_311x181.png') no-repeat;
		background-position: left 999900px bottom 0px;

	
		div.first {
			border-right: 5px solid $gray1;
		}	
		div.one-half { // remove auto column spacing
			margin:0;
			padding:1em;
			border-bottom: 5px solid $gray1;
		} 
		.promo-block { // individual block
			background-color: $gray2;
			width: 460px;
			
			&:hover {
				background-color: $gold2;
			}
			&:hover > .promo-block-text .promo-block-title {
				color: #fff !important;	
			}
			&:hover > .promo-block-text .promo-block-caption {
				color: #fff !important;	
			}
			.promo-block-text { // wrapped to enable floats
				width: 160px;
				float: right;	
				.promo-block-title {
					//border: 1px solid blue;
					padding-top: 1em;
					display: inline-block;
					line-height: 1.1;
			  	@include rem(font-size, 20px);
			  	color: $gold2 !important; // must override the base anchor style
			  	font-weight: bold;
				}
				.promo-block-caption {
					margin-top: .5em;
					line-height: 1.3;
			  	@include rem(font-size, 13px);
			  	color: #fff;
			  	width: 10em;
				}
			}	
			.promo-block-image {
				width: 249px;
				float: left;
			}
		}
	}
}

