/* How You Can Help
--------------------------------------------- */
.page-template-page_howyoucanhelp {

	.site-header  {
		margin-bottom: -62px;	
	}	

	h2 {
		color: $green2;
	}
	
	.overview {
		//border: 1px solid blue;
		padding-bottom: 0;
		h1 {	
			margin-top: 0;
		}
		.text ul {
			//border: 1px solid blue;
			@include rem(font-size, 14px);
			line-height: 1.2;
			float: left;
			width: 100px;
			height: 255px;
			margin:0;padding:0;
			list-style-type: none;
			line-height: 1.7;
			font-weight: bold;
			a, a:visited {
				color: $orange;
				&:hover {
					color: $gray3;
				}	
			}			
		}
	}

	.visit {
		@include bleeding-margin($gray1);
		overflow: auto;
		.image img {	 				
			float: left;
			width: 327px;
		}
		.group {
			color: #fff;
			float: left;
			padding-left: 2em;
			.text {
				@include rem(font-size, 14px);
				line-height: 1.3;
				width: 550px;
			}
		}
	}
	.give, .volunteer, .speakup {
		//border: 1px solid green;
		clear: both;
		width: $page_width;
		.text {
			@include rem(font-size, 14px);
			line-height: 1.3;
			width: 550px;
		}
		.image {
			float: right;
		}
	}
	
	.give .hr {
		@include divline($gray3);
		position: relative;
		top: -50px;
		width: 675px;
		clear: both;
	}
	.volunteer {
		position: relative;
		top: -50px;
	}
	.speakup {
		position: relative;
		.image {
			margin-top: -150px;
			padding-right: 420px;
			float: right;
		}
		.text {
			width: 375px;
		}
	}

} //.page-template-page_howyoucanhelp
