/* HWWprojects - training, education, future
--------------------------------------------- */

.page-template-page_hwwtraining,
.page-template-page_hwwtrainingprojects {
	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-624  { 
		@include secondarymenuitem-on(); 
		border: 0;
	}
}
.page-template-page_hwweducation,
.page-template-page_hwweducationprojects {
	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-623  { 
		@include secondarymenuitem-on(); 
		border: 0;
	}	
}

.page-template-page_hwwfuture,
.page-template-page_hwwfutureprojects {
	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-622  { 
		@include secondarymenuitem-on(); 
		border: 0;
	}	
}



// Grasses
.page-template-page_hwwtraining,
.page-template-page_hwweducation,
.page-template-page_hwwfuture  {
	.blocks {	
		background: $bgcolor_feature url('images/site/grasses_221x146.png') no-repeat;
		background-position: left 999880px bottom 0px;		
	}
}



.page-template-page_hwwtraining,
.page-template-page_hwwtrainingprojects,
.page-template-page_hwweducation,
.page-template-page_hwweducationprojects,
.page-template-page_hwwfuture,
.page-template-page_hwwfutureprojects   {
	
	.blocks {
		@include bleeding-margin($gray1);
		padding-bottom: 2em;
		overflow: auto;
		color: $green2;
		
		.group {
			margin-left: -100px;
		}
		
		.one-fourth.first {
			margin-left: -26px;
		}
		
		.hottopic {
			margin-top: 0em;
			margin-left: 10px;
			text-align: center;
			background-color: $gray2;
			width: 170px;
			height: 250px;
			color: $gold1;
			.title {
				padding-top: 30px;
				text-transform: uppercase;
				font-weight: bold;
				@include rem(font-size, 12px);
				h4{
					margin:0;
					margin-top: 10px;
					margin-bottom: 5px;
					@include rem(font-size, 20px);
				}
			}
			.image {
				margin-top: 15px;
			}
		}
		.issue {
			width: 210px;
			padding-top: 40px;
			&:hover > a .title {
				background-color: $green2;
				color: #fff;
			}
			.title {
				height: 166px;
				line-height: 1;
				text-align: center;
				padding: 2.2em .8em 0em .8em;
				@include rem(font-size, 20px);
				line-height: 1.2;
				font-weight: bold;
				background-color: $green1;
			}
			a, 
			a:visited {
				color: $green2;
			}
		}
	}
}

.page-template-page_hwwtrainingprojects,
.page-template-page_hwweducationprojects,
.page-template-page_hwwfutureprojects {
	
	.overview {
		padding-bottom: 0em;
	}
	.blocks {

		span:nth-child(2) { //.row
			.issue {
				padding-top: 25px;			
			}
		}
		.one-fourth.first {
			margin-left: 0px;
		}
		
		.group {
			padding-left: 100px;
			width: $page_width - 32px;
		}
		.issue {
			text-align: center;
			
			.issue-description { // other side of the card
				height: 327px;
				background-color: $gray2;
				.title {
					background-color: $gray2;
				}
				.description {
					@include rem(font-size, 14px);
					line-height: 1.3;
					color: #fff;		
					padding-right: 1.2em;
					padding-left: 1.2em;
				}
				.link-indicator {
					padding-top: 1em;
					color: $orange;
					text-align: center;
				}	
			}
			&:active {
				opacity: .7;
			}
		}
		
		.current-issue {
			background-color: $gray3;
			color: #fff;
		}
	}
	
}


