/* Collaborative Research
--------------------------------------------- */

.page-template-page_hwwcollaborative {
		
	#map {
		width: $site_width;
		height: 500px;
	}
	
	.page-tabs {
		display: inline-block;
		padding-top: .7em;
		@include border-top-left-radius(1.5em);
		@include border-top-right-radius(1.5em);
		@include rem(font-size, 18px);
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		width: 225px;
		height: 42px;
		&.map-tab {
			margin-left: .2em;
			background-color: $gray1;
			color: $gray6;
			&:hover {
				background-color: $gray3;
				color: $gray1;
			}
		}
		&.list-tab {
			margin-left: .2em;
			background-color: $orange;
			color: #fff;
			&:hover {
				background-color: $gray3;
				color: $gray1;
			}
		}
		&.map-tab.current-tab {
			background-color: $gray1;
			color: $gray6;
		}
		&.list-tab.current-tab {
			background-color: $gray4;
			color: $gray1;
			&:hover {
				background-color: $gray4;
				color: $gray1;
			}			
		}
		&.list-tab.current-tab ~ .margin-stretch .tabbed-area {
			background-color: $gray4;
		}
	}
	
	.map-label {
		display: inline-block;
		margin-right: 1em;
		@include rem(font-size, 12px);
		font-weight: bold;
		text-transform: uppercase;
		color: $blue1;
		line-height: 1.2;
	}
	.margin-stretch { // pulls content one stop, to left of inner page margin (100px)
		margin-left: -$site_inner_margin_left;
	}

	.tabbed-area {
		overflow: hidden;
		
		.map-content {
			float: left;
			height: 500px;
		}
		.list-content {
			h2 {
				margin-bottom: .3em;
			}
			float: left;
			margin-top: 1em;
			padding-top: 0em;
			padding-bottom: 2em;
			padding-left: 100px;
				
			.list-content-link {
				margin-bottom: .3em;
			 	a, a:visited {
					color: $gray1;
					&:hover {
						color: $orange;
					}
				}
			}
			.list-content-jumplinks {
				@include rem(font-size, 14px);
				font-weight: bold;
				margin-bottom: 1em;
				a {
					padding-right: 2em;
					color: $green2;
					&:hover {
						color:$orange;
					}
				}
			}
		}
	}	


}//.page-template-page_hwwcollaborativee


