/* NERRA News
	------------------------------ */
.page-template-page_news {


	.site-header {
		margin-bottom: -62px; // to make up for the secondary nav that's not displayed
	}	
	.overview {
		position: relative;
		top: -62px;
		display: table;
		@include bleeding-margin($gray1);
		
		
		h1 {
			//border: 1px solid blue;
			display: table-cell;
			line-height: 1;
			width: 400px;
			color: $gold2;
			text-transform: uppercase;
			font-weight: bold;		
		}
								
		.image {
			//border: 1px solid blue;
			display: table-cell;
			width: 625px;
			text-align: right;
		}	
	}	//.overview


	.news-content {
		margin-top: -2em;
		width: $text_width_half;
		
		.date {
			margin-top: 1em;
			font-weight: bold;
		}
		.title {
			margin-top: 1em;
			@include rem(font-size, 22px);
			line-height: 1.1;
			color: $green2;
			text-transform: uppercase;
			font-weight: bold;
		}
		.text {
			margin-top: .5em;
			margin-bottom: 1em;
			p, a {
				margin-bottom:0;
			}
		}
		.hr {
			margin-left: 0;
		}
	} //.news-content

} //.page-template-page_news


.news-item {
	//width: $site_width;
	
	.news-column {
		float: left;
		width: $text_width_half;
		margin-top: -75px;
		.date {
			font-weight: bold;
			margin-bottom: 1em;
		}
		
	} //.group
	
	.image {
		text-align: right;
	}
	
	a[href ^= 'mailto'] {
		color: $orange;
		&:hover {
			color: $gray3;
		}
	}	



	@-moz-document url-prefix() {
		// FF fix
		main.content {
			position: static;
			//top: -62px;
		}
	}

	
} //.news-item

