/* NERRA News & Archive
	------------------------------ */
.page-template-page_news, .archive {

	.overview {
		position: relative;
		overflow: auto;
		// Install this for Chrome-only
		// top: -62px; // to make up for the secondary nav that's not displayed
		@include bleeding-margin($gray1);
		height: 148px;
		.group {
			//border: 1px solid red;
			float: left;
			width: 600px;
			h1 {
				//border: 1px solid blue;
				//margin:0;
				margin-top: 0px;
				padding-top: 38px;
				//display: table-cell;
				line-height: 1.1;
				width: 100%;
				color: $gold2;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.image {
			//border: 1px solid green;
			margin-top: -149px;
			//width: 352px;
			//text-align: right;
			//height: 148px;
			//display: table-cell;
			float: right;
			margin-left: 650px;
			//width: 625px;
			//text-align: right;
		}
	}	//.overview


	.news-page {

		display: flex;

		.news-content {
			flex: 1 2 70%;

			clear: both;
			margin-top: 0em;

			.date {
				margin-top: 1em;
				font-weight: bold;
			}
			.title {
				margin-top: 1em;
				@include rem(font-size, 22px);
				line-height: 1.1;
				color: $green2;
				text-transform: uppercase;
				font-weight: bold;
				a {
					color: $green2;
					&:hover {
						color: $color_link_hover;
					}
				}
			}
			.text {
				margin-top: .5em;
				margin-bottom: 1em;
				p, a {
					margin-bottom:0;
				}
			}
			.hr {
				margin-left: 0;
			}
		} //.news-content



		.news-tags {
			flex: 1 0 30%;
			margin-top: 3.5em;
			order: 2;
			padding-left: 2em;

			a.all-posts {
				display: block;
				font-size: .8em;
				font-weight: 700;
				margin-bottom: 1em;
			}
			
			li {
				list-style-type: none;
				padding-bottom: .5em;
			}
			li.categories {
				font-size: 1.2em;
				font-weight: 700;
				ul {
					margin-top: 1em;
				}

			}
		}

	} // .news-page
} //.page-template-page_news


.news-item {

	.news-column {

		margin-top: -75px;
		.date {
			font-weight: bold;
			margin-bottom: 1em;
		}
		.back-to-blog, .back-to-blog:visited {
			display: block;
			margin: 1em 0;
			text-decoration:none;
			color: $color_internal_link;
			&:hover {
				color: $color_internal_link_hover;
			}	
		}
		.news-categories {
			margin-top: 2em;
			padding: 1em 0;
			border: 1px solid gray;
			border-left: 0;
			border-right: 0;
		}
	} //.group

	.image {
		text-align: right;
	}

	a[href ^= 'mailto'] {
		color: $orange;
		&:hover {
			color: $gray3;
		}
	}


} //.news-item

