/* Education Story page
--------------------------------------------- */
.page-template-page_education_story {

	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-623  { // education for an informed public
		@include secondarymenuitem-on(); 
		border: 0;
	}
		
	.overview {
		overflow: auto;
		
		.group {
			float: left;
			width: $text_width_shortest;
		}

		.image {
			margin-top: 2em;
			position: relative;
			top: 0;
			float: right;
		}
	}
} //.story

.news-item {
	
	h1 {
		text-transform: none;
	}
	.news-date {
		font-weight: bold;
		margin-bottom: 1em;
	}
	.news-story {
		
	}
}
