/* Future Story page
--------------------------------------------- */
.page-template-page_story_future {

	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-622  { // protecting land for the future
		@include secondarymenuitem-on(); 
		border: 0;
	}
		
	.overview {
		overflow: auto;
		
		.group {
			float: left;
			width: $text_width_shortest;
			div {
				margin-bottom: 1em;
			}
		}

		.image {
			margin-top: 2em;
			position: relative;
			top: 0;
			float: right;
			.navette { // link back to gallery of stories
				margin-top: .5em;
				.arrow-bullet {
					position: relative;
					top: 3px;
					margin-right: .3em;
					margin-top: .3em;
				}
			}			
		}
	}
} //.story

.news-item {
	
	h1 {
		text-transform: none;
	}
	.news-date {
		font-weight: bold;
		margin-bottom: 1em;
	}
	.news-story {
		
	}
}
