/* Primary page
--------------------------------------------- */

.page-primary {

	.overview {
		//border: 1px solid blue;
		overflow: auto;
		width: $page_width;
		padding-bottom: 2em;
		
		h1 {
			color: $color_parent_page_title;
			text-transform: uppercase;
			font-weight: bold;		
		}
						
		.group {
			//border: 1px solid red;
			display: inline-block;
			width: $text_width_shortest;	
			padding-bottom: 2em;
		}
		
		.image {
			position: relative;
			top: 0;
			float: right;
		}	
	}
	
} //.page-primary

