/* Child pages (secondary) 
--------------------------------------------- */
.page-child {

	h1 { 
		color: $color_child_page_title;
		text-transform: none;
	}
	
	h2 {
		color: $green2;
	}
			
	.overview {
		overflow: auto;
		padding-bottom: 2em;

		h1 { 
			margin-top: 1em;
			color: $color_child_page_title;
			text-transform: none;
		}

		p {
			margin-bottom: 0;
		}
		
		ul.jump-menu  {
			@include rem(font-size, 14px);
			line-height: 1.7;
			float: left;
			width: 100px;
			list-style-type: none;
			font-weight: bold;
			a, a:visited {
				color: $orange;
				&:hover {
					color: $gray3;
				}	
			}
		}
	}
	
	.story {
		overflow: auto;
	}
		


} //.page-child

