/* Toolkit page
--------------------------------------------- */

.page-toolkit {

	.menu-primary #menu-item-263 { // How We Work
		@include primarymenuitem-on();
	}

	.menu-secondary #menu-item-621  { // Collaborative project toolkit
		@include secondarymenuitem-on(); 
		border: 0;
	}
	
	.site-inner {
		margin-top: -50px;
	}
	@-moz-document url-prefix() {	
		.site-inner {
			margin-top: -46px;
		}
	}
	main.content { // critical for absolute positioning of toolkit menu
		position: relative;
	}

	#menu-item-830,
	#menu-item-831,
	#menu-item-832 {
		font-weight: bold;
		list-style-type: none;
		a, a:visited {
			color: #fff;
			&:hover {
				color: $gray2;
			}
		}
	}
		
	#menu-toolkit-menu > .current-menu-item > a, #menu-toolkit-menu .sub-menu > .current-menu-item a {
		color: $green1;
		font-weight: bold;
	}
	
	h3 {
		padding-left: 0;
		a {
			color: $gray2;
			&:hover {
				color: $orange;
			}
		}
	}
	.overview {
		display: table;
		@include bleeding-margin($gray1);		
		padding-top: 2em;
		padding-bottom: 2em;
			
		h1, h2, h3.survey-report {
			//border: 1px solid blue;
			float: left;
			margin: 0;
			margin-top: 155px;
			margin-left: 200px; // indent beyond toolkit menu
			max-width: 450px;
			@include rem(font-size, 58px);
			line-height: 1;
			color: $green2;
			text-transform: uppercase;
			font-weight: bold;
			
		}
		
		h2, h3.survey-report {
			@include rem(font-size, 38px);
			margin-top: 115px;
			line-height: 1;
		}
		header {
			//border: 1px solid fuchsia;
			display: table-cell;
			width: 690px;
			vertical-align: bottom;
		}
		.image {
			position: relative;
			top: 0;
			float: right;
			width: 354px;
			display: table-cell;
			padding-left: 40px;
		}	
		
	}
	
	.overview-text-background {
		@include bleeding-margin($gray4);
		margin-top: 0px;
		padding-bottom: 2em;
		padding-left: 1000199px;
		h2, h3.survey-report, span.survey-report, p {
			width: $text_width_shorter;
		}
		h2, h3.survey-report {
			color: $gray1;
			margin-top:0;
			padding-top: 1em;
			margin-bottom: .5em;
			font-size: 32px;
			font-weight: bold;
			text-transform: uppercase;
			
		}
	}
	.overview-text, .approach-detail {
		color: $gray1;
		margin-top: 2em;
		margin-bottom: 1em;
		padding-left: 200px;
		min-height: 230px;
		width: 1000px;
		
		
		h2 {
			color: $gray1;
			margin-top:0;
			margin-bottom: .5em;
			font-size: 32px;
			font-weight: bold;
			text-transform: none;
			
		}
		.doclist-menu {
			color: $blue1;
			font-weight: bold;
			text-transform: uppercase;
			margin: 2em 0;		
			li {
				color: $orange;
				display: inline-block;
				margin-left: 4em;
				a, a:visited {
					color: $orange;
					&:hover {
						color: $gray3;
					}
				}
			}
		}
	}
	.approach-detail, .strategy-detail {
		margin-top: 2em;
		padding-left: 200px;
		width: $text_width_short;
		
		.hr {
			margin-left: 0px;
		}
		
		h2 {
			@include rem(font-size, 38px);
			margin-bottom: 1em;
		}
		h3 {
			@include rem(font-size, 14px);
			color: $green2;
			margin-top:1em;
			margin-bottom: .5em;
			font-size: 32px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.text {
			margin-bottom: 2em;
		}
		ul {
			@extend .bullet-list;
		}
		
	}
	
	.toolkit-content-survey {
		margin-left: 200px;
		h3 {
			margin: 1.5em 0 em 0;
			font-size: 24px;
			color: $green2;
			font-weight: bold;
		}
		.form {
			
			width: 550px;
			.question {
				margin: 2em 0;
				border-bottom: 1px dotted $gray2;
				.title {
					font-weight: bold;
					span {
						font-weight: normal;
						display: block;
						margin: .8em 0; // space between question and instructions
					}
				}
				.buttongroup {
					margin-top: .5em;
					padding-bottom: 2em;
					label {
						display: block;
						margin: .5em;
						margin-left: 0;
						span {
							margin-left: .3em;
							div {
								font-style: italic;
							}
						}
					}
				}
			}
			
			div:last-of-type {
				border: 0;
			}
			
			// Green RADIO button w/red highlight
			input[type='radio'] {
			    -webkit-appearance:none;
			    width:14px;
			    height:14px;
			    border:2px solid $green2;
			    border-radius:50%;
			    outline:none;
			    //box-shadow:0 0 5px 0px gray inset;
			}
			input[type='radio']:hover {
			    box-shadow:0 0 6px 0px $blue2 inset;
			}
			input[type='radio']:before {
			    content:'';
			    display:block;
			    width:100%;
			    height:100%;
			    //margin: 20% auto;    
			    border-radius:50%;    
			}
			input[type='radio']:checked:before {
			    background:$orange;
			}
			
			
			// Green CHECKBOX  w/red highlight
			input[type='checkbox'] {
			    -webkit-appearance:none;
			    width:14px;
			    height:14px;
			    border:2px solid $green2;
			    //border-radius:50%;
			    outline:none;
			    //box-shadow:0 0 5px 0px gray inset;
			}
			input[type='checkbox']:hover {
			    box-shadow:0 0 6px 0px $blue2 inset;
			}
			input[type='checkbox']:before {
			    content:'';
			    display:block;
			    width:100%;
			    height:100%;
			    //margin: 20% auto;    
			    //border-radius:50%;    
			}
			input[type='checkbox']:checked:before {
			    //background:$orange;
			    color: $orange;
			    font-size: 20px;
			    font-weight: bold;
			    margin: -8px 0 0 -1px;
			    content: '√';
			}
			
		}
		
		.strategies {
			padding-top: 2em;
		}
		.submitsurvey {
			&:hover {
				opacity: .8;
			}
		}
	}
	
	
	
	.toolkit-content {
		width: 60%;
		.intro-text {
			margin-bottom: 2em;
		}
		ul {
			@extend .bullet-list;
		}
		h3 {
			margin: 1.5em 0 .5em 0;
			font-size: 24px;
			color: $green2;
			font-weight: bold;
		}
		.toolkit-document {
			padding-bottom: 2em;
			h4 {
				margin: 0em 0 .5em 0;
			}
		}
	}

	#cptool-approach, #cptool-strategy {
		
		& > p {
			width: $footer_width - 50;			
		}
		
		table {
			@include rem(font-size, 16px);
			margin:0;
			border: 2px solid $gray3;
		
			tbody tr:nth-child(odd) {
			   background-color: $gray5;
			}	
			
			th {
				@include rem(font-size, 12px);
				text-transform: uppercase;
				font-weight: bold;
				padding: 1em 2em;
				background-color: $gray1;
				color: $green2;	
			}
			td, th {
				border: 2px solid $gray3;
			}	
			
			td {
				padding: 1em;
				vertical-align: middle;
			}
			
			h4, div {
				margin-top: 0em;
			}
			h4 {
				margin-bottom: .5em;
			}
			strong:after {
				content: ':';
			}	
		}		
		
	}
	
	#cptool-approach {
		margin:0;
		margin-top: 1em;
		margin-left: -$site_inner_margin_left;
		
		table {
			width: $footer_width;
		}
		// close matrix link
		.close-matrix {
			@include rem(font-size, 14px);
			color: $orange;
			&:hover {
				color: $gray3;
			}
			text-transform: lowercase;
			margin:0;
			margin-top: 1em;
			&:before {
				content: '[ ';
			}
			&:after {
				content: ' ]';
			}	
		}
	}

	#cptool-strategy {
		margin:0;
		margin-top: 2em;
		padding-left: 200px;		
	}

	


	// Green Toolkit Menu
	.toolkit-menu {
		//overflow: auto;
		position: absolute;
		top: 2em;
		left: -100px;
				
		padding: 2.5em;
		padding-top: 1em;
		padding-left: 1.1em;
		background: $green2 url('images/site/Toolkit_NavBox.png') no-repeat bottom;
		border-radius: 30px;
		width: 255px;
		
		li {
			font-weight: normal;
			line-height: 1.2;
			color: #fff;
			display: list-item;
			list-style-type: disc;
			margin-left: 1em;	
		}
		
		h3 {
			margin: 2em 0;
			margin-left: 1em;
			color: $gray1;
			text-transform: uppercase;
		}
		ul.sub-menu {
			padding-bottom: 1em;
			border-bottom: 1px dotted #fff;
		}
		#menu-item-830 ul.sub-menu {
			border: 0;
		}
	}
	
} //.page-toolkit

