// Be aware that this id might not match the id in local or dev versions
.page-id-2329 {
	width: 85%;
	h1.entry-title {
		color: #D54A4B;
		margin: 0;
		margin-bottom: 1em;
		margin-top: 2em;
		text-align: center;
	}
	iframe#petition-embed {
		margin-top: 2em;
		border: 2px solid #eee;
		height: 300px;
		width: 100%;
	}
	iframe#watchvideo {
		margin-top: 2em;
	}
	ol {
		width: 70%;
		margin-left: 15%;
		margin-top: 1.5em;
		li {
			font-size: 1.3em;
			padding-bottom: 2.5em;
		}
	}
	.sixsteps {
		display: block;
		width: 100%;
		text-align: center;
		font-size: .8em;
		margin: 1em 0;
	}
	#mc_embed_signup {
		border: 2px solid #eee;
		margin-top: 2em;
	}
}
