/* Project pages
--------------------------------------------- */
.single-nerra_project {
	
	// Menu highlights for pages not technically part of the nav
	.menu-primary #menu-item-263 {
		@include primarymenuitem-on();
	}
	.menu-secondary #menu-item-625  { 
		@include secondarymenuitem-on(); 
		border: 0;
	}
	
	.site-header {
		margin-bottom: -47px;
	}	
		
	h1 { 
		color: $green2;
		text-transform: none;
	}
	
	h2 {
		color: $green2;
	}
	.overview {		
		//border: 1px solid blue;
		@include bleeding-margin($gray1);
		overflow: auto;
		padding-bottom: 2em;
		
		h1 {
			margin-top: 1em;
			line-height: 1.2;
		}
		.group {
			//border: 1px solid blue;
			float: left;
			width: $text_width_shortest;	

			.jump-menu  {
				@include rem(font-size, 14px);
				line-height: 1.7;
				float: left;
				width: 100px;
				list-style-type: none;
				font-weight: bold;
				li {
					line-height: 1.1;
					margin-bottom: .5em;
				}
				a, a:visited {
					color: $orange;
					&:hover {
						color: $gray3;
					}	
				}
			}		
			.text {
				//border: 1px solid blue;
				padding-left: 135px;
				margin-bottom: 2em;
				max-width: $text_width_shorter;
				color: #fff;
			}
		} //.group
		
		.image > img {
			display: block;
			border-bottom: 5px solid $green2;
		}
		.image {
			position: relative;
			top: 0;
			float: right;
			.storymap {
				//border: 1px solid yellow;
				padding-top: 20px;
				padding-left: 30px;
				overflow: auto;
				width: 353px;
				
				.storymap-icon {
					height: 110px;
					width: 100px;
					float: left;
				}
				.storymap-text {
					//border: 1px solid white;
					color: $gold1;
					width: 215px;
					float: right;
					padding-top: 10px;
					line-height: 1.1;
					@include rem(font-size, 22px);
					font-weight: bold;
					p {
						margin-bottom: .2em;
					}
					div {
						@include rem(font-size, 16px);
						//margin-top: .2em;
						.link-indicator {
							color: $orange;
							&:hover {
								color: $gray3;
							}
						}
					}
				}
			}
			.navette { // link back to project map
				margin-top: .5em;
				
				.arrow-bullet {
					position: relative;
					top: 3px;
					margin-right: .3em;
					margin-top: .3em;
				}
			}
		}
	} //.overview

					
	// PROJECT SECTIONS - shared settings
	.project-impact, .project-howitworked, .project-resources, .project-partners, .project-contact {
		clear: both;
		overflow: auto;
		width: $page_width;
		padding-bottom: 2em;
	}

	.project-impact-text {
		padding-bottom: 2em;
	}
	
	.project-resources, .project-partners, .project-impact {
		width: 100%;
		padding-bottom: 1em;
		ul {	
			margin-top: 1em;
			padding-left: 1em;		
			li {
				line-height: 1;
				display: list-item;
				list-style-type: disc;
				margin-bottom: .3em;
			}
		}
	}

	.project-impact {
		padding-bottom: 2em;
		ul {
			li {
				margin-bottom: .5em;
				line-height: 1.2;
			}
		}
	}
	.project-contact {
		padding-bottom: 0em;
	}
	.project-howitworked-image { // how it worked
		//border: 1px solid red;
		padding-left: 2em;	
		height: 223px;
		float: right;
		a, a:visited {
			color: $orange;
		}
		.casestudy-callout {
			margin-top: -1em;
			padding: 2em;
			width: 352px;
			@include rem(font-size, 14px);
			background-color: $gray1;
			color: #fff;
			@include border-bottom-radius(32px);
			a:hover {
				opacity: .8;
			}
		}
	}
	
}

