/* Reserve pages
--------------------------------------------- */

.single-nerra_reserve  { // page margin

	.menu-primary #menu-item-28 { // Find Your Reserve
		@include primarymenuitem-on();
	}

	.site-header {
		margin-bottom: -52px;
	}	

	@-moz-document url-prefix() {
		// FF fix
		main.content {
			position: relative;
			top: -62px;
		}
	}

	h1 { 
		color: $green2;
		text-transform: none;
		line-height: 1.2;
	}	
		
	h2 {
		color: $green2;
	}
	
	//a[href $='.pdf']:after { content: ' PDF'}	// overwrite [PDF] set in _helpers.scss
	.overview {		
		clear: both;
		@include bleeding-margin($gray1);
		overflow: auto;
		padding-bottom: 2em;

		
		h1 {
			margin-top: 1em;
		}
		
		.group {
			//border: 1px solid blue;
			overflow: auto;
			float: left;
			width: $text_width_shortest;	

			.jump-menu  {
				@include rem(font-size, 14px);
				line-height: 1.7;
				float: left;
				width: 110px;
				list-style-type: none;
				font-weight: bold;
				li {
					line-height: 1.1;
					margin-bottom: .5em;
				}
				a, a:visited {
					color: $orange;
					&:hover {
						color: $gray3;
					}	
				}
			}		
			.text {
				//border: 1px solid blue;
				padding-left: 135px;
				margin-bottom: 2em;
				max-width: $text_width_shorter;
				color: #fff;
			}

		} //.group
		
		.image {
			position: relative;
			top: 0;
			float: right;
			border-bottom: 5px solid $green2;
		}
	} //.overview

	
	// Shared styles
	.reserve-vitals, .reserve-visit, .reserve-volunteer, .reserve-friend, .reserve-contact {
		//border:1px solid red;
		clear: both;
		overflow: auto;
		padding-bottom: 2em;
		
	}
	
	// VITALS
	.reserve-vitals {
		@include bleeding-margin($gray4);
		overflow: auto;
		padding-top: 2em;
		padding-bottom: 1em;
		
		h2 {
			margin-top: 0;
		}
		
		// pdf override
		a[href $='.pdf']:after { 
			content: ' PDF';
		}	
					
		.group {	
			//border: 1px solid green;
			float: left;
			width: 650px;
				
			.stats {
				//border: 1px solid green;
				float: left;
				width: 250px;

				ul.bullet-list {
					//border: 1px solid orange;
					float: left;
					margin:0;
					@include rem(font-size, 16px);
					li {
						display: list-item;
						list-style: disc;
						margin-bottom: .8em;
						line-height: 1.2;
						a, a:visited {
							@include rem(font-size, 12px);
							text-transform: uppercase;
						}
					}
				} // .bullet-list
			} // .stats
			
			.nerrs-datafeed {
				//border: 1px solid red;
				float: left;
				width: 395px;
				
				.image {
					float: left;
					width: 177px;
					padding-left: 1em;
				}
				.caption {
					float: left;
					padding-left: 3em;
					width: 210px;
					@include rem(font-size, 14px);
					line-height: 1.3;
					color: $blue1;
				}
			} //.nerrs-datafeed
						
		} //.group
		
		.featured {
			//border: 1px solid blue;
			float: right;
			width: 354px;
			height: 177px;
			background-color: $green2;
			//overflow: hidden; 
			
			.featured-text {
				h3 {
					@include rem(font-size, 10px);
					text-transform: uppercase;
					color: $gray1;
					margin:0;
					margin-bottom: .5em;
				}
				line-height: 1.2;
				width: 170px;
				@include rem(font-size, 18px);
				font-weight: bold;
				color: #fff;
				padding: 1em;
				padding-right: 1.2em;
				float: left;
			}
			.featured-image {
				margin:0;
				float: right;
				width: 177px;
			}
			.link-indicator {
				margin-left: 0;
			}			
		} //.featured
		
		
	} // .reserve-vitals
		
	// VISIT
	.reserve-visit {
		//border: 1px solid blue;
		padding-top: 2em;
		
		h2 {
			margin-top: 0;
		}
		.group {
			//border: 1px solid blue;
			float: left;
			width: $text_width_half;
			img {
				display: block;
				margin-top: 2em;
			}
		}
		.socialmedia {
			border: 1px solid $gray3;
			margin-bottom: 1em;
			float: right;
			width: 354px;
			height: 450px;
			overflow: auto;
			margin-left: 57px;
			
			.title {
				margin-bottom: .3em;
				text-transform: uppercase;
				color: $green1;
				@include rem(font-size, 10px);
				
			}
		}
	}
	
	// Volunteer | Become Friends | Did you know?
	.reserve-volunteer-area {
		//border: 1px solid blue;
		overflow: auto;
		padding: 2em 0 0 0;

		.reserve-volunteerfriends {
			//border: 1px solid blue;
			overflow: auto;
			float: left;
			width: $text_width_half;
			p { margin:0;}
						
			.reserve-volunteer {
				//border: 1px solid blue;
				
				.group {
					//border: 1px solid blue;
					float: left;
					width: 350px;
					
					h2 {
						margin-top: 0;						
					}
				}
				.image {
					float: right;
					width: 170px;
				}
			} //.reserve-volunteer
				
			.reserve-friend {
				//border: 1px solid blue;
				
				.group {
					//border: 1px solid blue;
					float: left;
					width: 540px;
					
				}
				.image {
					float: right;
					width: 170px;
				}
			} //.reserve-friend
			
		} //.reserve-volunteerfriends
		
		
		.reserve-didyouknow {
			float: right;
			padding-bottom: 2em;
			
			.image {
				float: none;
			}
			
			.text {
				line-height: 1.3;
				@include rem(font-size, 13px);
				background-color: $gray1;
				width: 354px;
				padding: 1em 5em 2em 3em;
				color: $blue3;
				h3 {
					margin-bottom: .3em;
					font-style: normal;
					font-weight: normal;
					text-transform: uppercase;
					color: #fff;	
				}		
			}
		}	//.reserve-didyouknow
				
	} //.reserve-volunteer-area
		
		
	// CONTACT
	.reserve-contact {	
		padding-bottom: 0em;
		p {
			margin:0;
			line-height: 1.3;
		}
		.text p:first-of-type {
			font-weight: bold;
		}
		.image {
			text-align: right;
			padding: 2em 8em 0 0;
		}
		.reserve-logos {
			padding-left: 145px;
		}
	}	
	
}
	
