/* Tips on Speaking Up for the Reserves
--------------------------------------------- */
.page-template-page_speakup {

	.site-header {
		margin-bottom: -62px;
	}
	
	h2 {
		color: $green2;
	}
	
	h3{
		text-transform: capitalize;
	}
	.overview {
		overflow: auto;
		padding-bottom: 2em;
		
		h1 {
			margin-top: 0;
			text-transform: none;
		}
		
		header {
			float: left;
			width: 40%;
		}

		ul {
			margin:0;padding:0;
			position: relative;
			z-index: 25;
			float: left;
			width: $text_width_half;
			@include rem(font-size, 14px);
			line-height: 1.2;
			padding-left: 2em;
			list-style-type: none;
			line-height: 1.7;
			font-weight: bold;
			a, a:visited {
				color: $orange;
				&:hover {
					color: $gray3;
				}	
			}
		}

	}

	.first-section {
		clear: both;
		overflow: auto;
		
		.group {
			float: left;
			width: $text_width_half;
			color: $gray1;
			.text {
				@include rem(font-size, 14px);
				line-height: 1.3;
			}
		}
		.image {	 				
			position: relative;
			top: 0;
			float: right;
			width: 327px;
		}
	}
	.second-section, .default-section {
		
		padding-bottom: 2em;
		.text {
			@include rem(font-size, 14px);
			line-height: 1.3;
			width: $text_width_half;
		}
	}
	.default-section {
		h3 {
			margin: 1em 0 .5em 0;
		}
		ul {
			padding-left: 1em;
			li {
				display: list-item;
				list-style-type: disc;
				line-height: 1.4;			
			}
		}
	}


} //.page-template-page_speakup
