/* What We Work For
--------------------------------------------- */
.page-template-page_whatweworkfor {
	
	.overview {
		//margin-top: -30px;
		//margin-bottom: 33px;		
	}
	.blocks-area {
		//border: 1px solid blue;
		@include bleeding-margin($gray1);
		overflow: auto;
		color: $green2;
		background: $bgcolor_feature url('images/site/grasses_221x146.png') no-repeat;
		background-position: left 999880px bottom 0px;		

		.blocks { 
			margin-left: -100px;
		
			.hottopic {
				float: right;
				background-color: $gray2;
				width: 190px;
				padding:1.5em 1em;
				text-align: center;	
				
				&:hover > a .caption {
					color: $gray3;
				}
				
				&:hover > a .readmore {
					color: $gray3;
				}
				
				.caption {
					margin-top: .5em;
					color: $gold2;
					text-transform: uppercase;
					font-weight: bold;
					@include rem(font-size, 20px);
	
				}
				
				.readmore {
					margin-top: .8em;
					@include rem(font-size, 12px);
					color: $orange;
					text-transform: uppercase;
					font-weight: bold;
					&:hover {
						//color: green; TEMPORARITLY OFF until hottopics comes online
					}
				}
			}

			.issue {
				//border: 1px solid green;;
				padding: 2em 0;
				width: 206px;
				text-align: center;
				&:hover > a .title {
					background-color: $green2;
					color: #fff;
				}
				.title {
					height: 3.5em;
					line-height: 1;
					padding: 1.2em 0;
					@include rem(font-size, 20px);
					line-height: 1.2;
					font-weight: bold;
					background-color: $green1;
				}
				a, a:visited {
					color: $green2;
				}
			}
			.one-fourth.first .title { // prepared communities
				padding-top: .5em;
			}
		}
	}

} //.page-template-page_whatweworkfor

