/* Issue pages 
	  for: prepared communities, healthy habitats,
	       clean water, and informed citizens.
--------------------------------------------- */
.page-template-page_wwwfissue {
	
	.overview {		
		//border: 1px solid blue;
		@include bleeding-margin($bgcolor_issue_overview);
		
		.group {
			//border: 1px solid blue;
			float: left;
			width: $text_width_short;
					
			.jump-menu {
				li {
					line-height: 1.1;
					margin-bottom: .5em;
				}
			}
			.text {
				//border: 1px solid blue;
				padding-left: 135px;
				margin-bottom: 3em;
				max-width: $text_width_shorter;
			}
		} //.group
		
		.image {
			float: right;
			background-color: $gray2;
			width: 170px;
			padding:1em;
			padding-left:1.2em;
			text-align: center;
			
			&:hover > a .title {
				color: #fff;
			}
			&:hover > a .readmore {
				color: $gray3;
			}
			
			.caption {
				margin-top: .8em;
				color: $gray3;
				text-transform: uppercase;
				font-weight: bold;
				@include rem(font-size, 14px);

			}
			
			.title {
				margin-top: .5em;
				color: $gold2;
				@include rem(font-size, 20px);
				font-weight: bold;
				line-height: 1;
				&:hover {
					color: white;
				}
			}
			.readmore {
				margin-top: 1em;
				@include rem(font-size, 10px);
				color: $orange;
				text-transform: uppercase;
				font-weight: bold;
				&:hover {
					//color: green; TEMPORARITLY OFF until hottopics comes online
				}
			}

		}

	} //.overview


	.why-section {
		//border: 1px solid blue;
		@include bleeding-margin($bgcolor_issue_why);
		overflow: auto;
		.group {
			float: left;
			color: #fff;
			width: $text_width_shortest;
			padding-bottom: 2em;
		}		
		.why-section-image {
			float: right;
			width: 352px;
		}
	} //.why-section
	

	.how-section {
		//border: 1px solid blue;
		
		.group {
			//border: 1px solid black;
			padding-bottom: 2em;
			float: left;
			width: $text_width_shortest;
			.text {
				//border: 1px solid black;
				color: $gray1;
				line-height: 1.3;
				width: 600px;
				ul {
					padding-left: 1em;
				}
			}			
		}
		
		.featured {
			//border: 1px solid blue;
			margin-top: 2em;
			float: right;
			width: 354px;
			height: 177px;
			background-color: $green2;
			.featured-text {
				float: left;
				width: 150px;
				@include rem(font-size, 18px);
				padding: 1em;
				padding-top: 2em;
				h3 {
					@include rem(font-size, 10px);
					width: 150px;
					text-transform: uppercase;
					color: $green1;
					margin:0;
					margin-bottom: .5em;
				}
				.text {
					//border: 1px solid orange;
					width: 150px;
					color: #fff;
					line-height: 1.1;
					font-weight: bold;
					.link-indicator .newline {
						margin-top: 1em;
						margin-left: 0;
						@include rem(font-size, 10px);
						color: $orange;
						&:hover {
							color: $gray3;
						}
					}			
				}
			}
			.featured-image {
				margin:0;
				float: right;
				width: 177px;
			}
		} //.featured
		
		
	} //.how-section


	.what-section {
		.group {	 				
			float: left;
			.text {
				width: 370px;
				color: $gray1;
				ul {
					padding-left: 1em;
				}
			}
		}
		.image {
			display: inline-block;
			margin-top: 35px;
			margin-left: 50px;
		}
	} //.what-section


} //.page-template-page_wwwfissue
