/* Featured Area module
--------------------------------------------- */

.featured-area { // fat gray bar
	//border: 1px solid green;
	@include bleeding-margin($bgcolor_feature);
	position: relative; // needs to be positioned, so floats work
	top: -30px;
	left: -$site_margin;
	height: 300px; 
	background: $bgcolor_feature url('images/site/grasses_198x140.png') no-repeat;
	background-position: left 999999px bottom 0px;
}

@import "featured_area/reserve-slider";
@import "featured_area/reserve-state-icons";
// @import "featured_area/featured-stories";
@import "featured_area/featured-story"; // currently replacing featured-stories
