/* Giving Area module
--------------------------------------------- */

.giving-area {
	position: relative;
	top: -50px;
	@include bleeding-margin($bgcolor_givingarea);	
	.giving {
		min-height: 200px; 
		background: $bgcolor_givingarea url('images/site/Home_Sanddollars_White.png') no-repeat left 135px bottom 0px;
		.image {

			position: relative;
			top: 0px;
			left: 400px;
			&:hover {
				opacity: .5;
			}
		}
	}
}
