/* Media Area (socialmedia, socialnews, reserveslist)
--------------------------------------------- */

.media-area {
	//border: 1px solid green;
	overflow: auto;
	width: $footer_width;
	position: relative;
	top: -330px;
	left: 0;
	margin-bottom: -330px;

	.socialmedia {
		font-size: 1em;
		//border: 1px dotted blue;
		.tabs {
			padding-bottom: 1em;
		}	
	}
	.socialnews {
		font-size: 1em;
		line-height: 1.4;
		height: 560px;
		overflow: scroll !important;

		.newsitem {
			padding: 0 1em 1em 1em;
		}
		.news-date {
			color: #000;
		}
		.news-title {
			color: $color_socialbox_a;
			font-weight: bold;
			font-size: 1.2em;
		}
		.news-summary {
			padding-bottom: 1em;
			border-bottom: 1px solid $color_socialbox_hr;
			color: #000;
		}
	}
	.reserveslist {
		//border: 1px dotted blue;	
		//width: 345px;
		padding-top: 210px;	
		padding-left: 3.5em;

		.image { // the "in" image for x reserves in x states
			@include rem(font-size, 24px);
			font-weight: bold;
			//text-align: center;
			margin-bottom: 1em;
			color: $blue2;
			
		}
		a, a:visited {
			display: block;
			@include rem(font-size, 12px);
			line-height: 1.5 !important;
			color: $color_reservelist_a;
			font-style: italic;
			&:hover {
				color: $color_reservelist_hv;
			}
		}
		
		
	}


}
