/* Supports the project map on the "Collaborative research to solve problems" page. 
 * Code was copy/pasted from Tegan's JSFIDDLE at https://jsfiddle.net/7413mj22/12/light/
 * 
 * Last update: June 23, 2015 - MarkS
 * Last update: August 5, 2015 - MarkS
 */
	
.leaflet-popup-content-wrapper {
    border-radius: 25px;
    background: #e0e1e2;
}
.leaflet-popup-content img {
  max-width:100%;
  border-radius: 15px;
}
