/* Social Media module
--------------------------------------------- */

.socialmedia, .socialnews {
	//border: 1px solid fuchsia;
	width: 380px;
	padding: 0em 1em 1em 1em;
	background-color: $bgcolor_socialbox !important;
	@include rem(font-size, 11px);
	h3 {
		@include rem(font-size, 16px);
		margin: 1em 0;
		color: $color_socialbox_tl;
		text-transform: uppercase;
	}
}

.home .socialnews.one-third {
	margin-left: 15px !important;
	overflow: hidden;
}

.home .reserveslist.one-third {
	margin-top: 120px;
	margin-left: 0px !important;
}

.home .socialmedia, .home .socialnews {
	min-height: 675px;
	margin-top: 2em;
}

.reserve-vitals .socialmedia {
	min-height: 200px;
	min-width: 366px;
}
.socialmedia .tabs {
	text-align: right;
	margin-top: -38px;
	margin-right: 0em;
	padding-bottom: .8em;
	min-height: 25px;
	list-style: none;

	li {
		display: inline-block;
		margin-left: .5em;
		span {
			color: $color_socialbox_a;
			&:hover {
				color: $color_socialbox_hv;
			}
		}
		span.active-tab {
			color: $orange;
		}

	}
}

/*
	.facebook-tab, .twitter-tab, .instagram-tab {
	// The following 3 directives must be set so when the .outline class
	// is applied by javascript, the element won't push others out of alignment.
	// Note: The border is the same color as bg so it appears invisible.

	border: 1px solid $bgcolor_socialbox;
	border-radius: 5px;
	padding: .3em;
}

.facebook-content {
	color: $color_socialbox_tx;
	a, a:visited {
		color: $color_socialbox_a;
	}
}

.instagram-content {
	//width: 200px;
}
*/
